<div id="<%= dom_id content_group %>">
  <p>
    <strong>Name:</strong>
    <%= content_group.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= content_group.description %>
  </p>

</div>
